<section class="page-banner-wrap bg-cover" style="background-image: url('assets/img/page-banner.jpg')">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="page-heading text-white">
                    <div class="sub-title">
                        <h4><strong>Join Our Mission:</strong> Volunteer with Us</h4>
                    </div>
                    <div class="page-title">
                        <h1>Volunteer Registration</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Volunteer</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="contact-page-wrap section-padding">
    <div class="container">
        <div class="row section-padding">
            <div class="col-12 text-center mb-20">
                <div class="section-title">
                    <span><i class="fal fa-hands-helping"></i> Become a Volunteer</span>
                    <h1>Register Today</h1>
                </div>
            </div>

            <div class="col-12 col-lg-12">
                <div class="contact-form">
                    <form [formGroup]="volunteerForm" (ngSubmit)="onSubmit()" class="row">
                        <div class="col-md-6 col-12">
                            <div class="single-personal-info">
                                <label for="name">Full Name</label>
                                <input type="text" id="name" formControlName="name" placeholder="Enter your full name"
                                    required>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="single-personal-info">
                                <label for="email">Email Address</label>
                                <input type="email" id="email" formControlName="email"
                                    placeholder="Enter your email address" required>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="single-personal-info">
                                <label for="phone">Phone Number</label>
                                <input type="text" id="phone" formControlName="phone"
                                    placeholder="Enter your phone number" required>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="single-personal-info">
                                <label for="dob">D.O.B (YYYY-MM-DD)</label>
                                <input type="date" id="dob" formControlName="dob" placeholder="YYYY-MM-DD" required>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="single-personal-info">
                                <label for="address">Address</label>
                                <input type="text" id="address" formControlName="address"
                                    placeholder="Enter your address" required>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="single-personal-info">
                                <label for="district">District</label>
                                <input type="text" id="district" formControlName="district"
                                    placeholder="Enter your district" required>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="single-personal-info">
                                <label for="state">State</label>
                                <input type="text" id="state" formControlName="state" placeholder="Enter your state"
                                    required>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="single-personal-info">
                                <label for="education">Education</label>
                                <input type="text" id="education" formControlName="education"
                                    placeholder="Enter your Education">
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="single-personal-info">
                                <label for="occupation">Occupation</label>
                                <input type="text" id="occupation" formControlName="job"
                                    placeholder="Enter your Occupation">
                            </div>
                        </div>
                        <div class="col-md-12 col-12 text-center">
                            <input class="submit-btn" type="submit"  value="Register as Volunteer">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>