<!-- news-list.component.html -->
     <section class="page-banner-wrap bg-cover" style="background-image: url('assets/img/page-banner.jpg')">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-heading text-white">
                        <div class="sub-title">
                            <h4><strong>Our Mission:</strong> Food, Education, Medicine</h4>
                        </div>
                        <div class="page-title">
                            <h1>News Feeds</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                          <li class="breadcrumb-item active" aria-current="page">news</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
<section class="blog-wrapper news-wrapper section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="blog-posts">
          <div *ngFor="let news of newsList" class="single-blog-post">
            <div class="post-featured-thumb bg-cover" [ngStyle]="{'background-image': 'url(' + news.image + ')'}"></div>
            <div class="post-content">
              <div class="post-cat">
                <a href="#">{{ news.category }}</a>
              </div>
              <h2><a [routerLink]="['/news', news.id]">{{ news.title }}</a></h2>
              <div class="post-meta">
                <span><i class="fal fa-eye"></i>{{ news.views }} Views</span>
                <span><i class="fal fa-comments"></i>{{ news.comments }} Comments</span>
                <span><i class="fal fa-calendar-alt"></i>{{ news.date }}</span>
              </div>
              <p>{{ news.description }}</p>
              <div class="d-flex justify-content-between align-items-center mt-30">
                <div class="author-info">
                  <div class="author-img" style="background-image: url('assets/img/blog/author_img.jpg')"></div>
                  <h5><a href="#">by {{ news.author }}</a></h5>
                </div>
                <div class="post-link">
                  <a [routerLink]="['/news', news.id]"><i class="fal fa-arrow-right"></i> Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
                            <div class="page-nav-wrap mt-60 text-center">
                        <ul>
                            <li><a href="#"><i class="fal fa-long-arrow-left"></i></a></li>
                            <li><a href="#">01</a></li>
                            <li><a href="#">02</a></li>
                            <li><a href="#">..</a></li>
                            <li><a href="#">10</a></li>
                            <li><a href="#">11</a></li>
                            <li><a href="#"><i class="fal fa-long-arrow-right"></i></a></li>
                        </ul>
                    </div> <!-- /.col-12 col-lg-12 --> 
      </div>
      <!-- sidebar can be added here -->
        <div class="col-12 col-lg-4">
                    <div class="main-sidebar">
                        <div class="single-sidebar-widget author-box-widegts">
                            <div class="wid-title">
                                <h3>About Me</h3>
                            </div>
                            <div class="author-info text-center">
                                <div class="author-img" style="background-image: url('assets/img/blog/author_img.jpg');"></div>
                                <h4>Rosalina D. Willaimson</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                <div class="social-profile">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="single-sidebar-widget">
                            <div class="wid-title">
                                <h3>Search Objects</h3>
                            </div>
                            <div class="search_widget">
                                <form action="#">
                                    <input type="text" placeholder="Search your keyword...">
                                    <button type="submit"><i class="fal fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="single-sidebar-widget">
                            <div class="wid-title">
                                <h3>Popular Feeds</h3>
                            </div>
                            <div class="popular-posts">
                                <div class="single-post-item">
                                    <div class="thumb bg-cover" style="background-image: url('assets/img/blog/pp1.jpg')"></div>
                                    <div class="post-content">
                                        <h5><a href="news-details.html">Lorem ipsum dolor sit cing elit, sed do.</a></h5>
                                        <div class="post-date">
                                            <i class="far fa-calendar-alt"></i>24th March 2019
                                        </div>
                                    </div>
                                </div>
                                <div class="single-post-item">
                                    <div class="thumb bg-cover" style="background-image: url('assets/img/blog/pp2.jpg')"></div>
                                    <div class="post-content">
                                        <h5><a href="news-details.html">Lorem ipsum dolor sit cing elit, sed do.</a></h5>
                                        <div class="post-date">
                                            <i class="far fa-calendar-alt"></i>25th March 2019
                                        </div>
                                    </div>
                                </div>
                                <div class="single-post-item">
                                    <div class="thumb bg-cover" style="background-image: url('assets/img/blog/pp3.jpg')"></div>
                                    <div class="post-content">
                                        <h5><a href="news-details.html">Lorem ipsum dolor sit cing elit, sed do.</a></h5>
                                        <div class="post-date">
                                            <i class="far fa-calendar-alt"></i>26th March 2019
                                        </div>
                                    </div>
                                </div>
                                <div class="single-post-item">
                                    <div class="thumb bg-cover" style="background-image: url('assets/img/blog/pp4.jpg')"></div>
                                    <div class="post-content">
                                        <h5><a href="news-details.html">Lorem ipsum dolor sit cing elit, sed do.</a></h5>
                                        <div class="post-date">
                                            <i class="far fa-calendar-alt"></i>29th March 2019
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-sidebar-widget">
                            <div class="wid-title">
                                <h3>Categories</h3>
                            </div>
                            <div class="widget_categories">
                                <ul>
                                    <li><a href="news.html">Consultant <span>23</span></a></li>
                                    <li><a href="news.html">Help <span>24</span></a></li>
                                    <li><a href="news.html">Education <span>11</span></a></li>
                                    <li><a href="news.html">Technology <span>05</span></a></li>
                                    <li><a href="news.html">business <span>06</span></a></li>
                                    <li><a href="news.html">Events <span>10</span></a></li>    
                                </ul>                                
                            </div>
                        </div>
                        <div class="single-sidebar-widget">
                            <div class="wid-title">
                                <h3>Never Miss News</h3>
                            </div>
                            <div class="social-link">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                        <div class="single-sidebar-widget instagram-widget">
                            <div class="wid-title">
                                <h3>Instagram Feeds</h3>
                            </div>
                            <div class="instagram-gallery">
                                <a href="assets/img/blog/ip1.jpg" class="single-photo-item bg-cover popup-gallery" style="background-image: url('assets/img/blog/ip1.jpg')">                                    
                                </a>
                                <a href="assets/img/blog/ip2.jpg" class="single-photo-item bg-cover popup-gallery" style="background-image: url('assets/img/blog/ip2.jpg')">                                    
                                </a>
                                <a href="assets/img/blog/ip3.jpg" class="single-photo-item bg-cover popup-gallery" style="background-image: url('assets/img/blog/ip3.jpg')">                                    
                                </a>
                                <a href="assets/img/blog/ip4.jpg" class="single-photo-item bg-cover popup-gallery" style="background-image: url('assets/img/blog/ip4.jpg')">                                    
                                </a>
                                <a href="assets/img/blog/ip5.jpg" class="single-photo-item bg-cover popup-gallery" style="background-image: url('assets/img/blog/ip5.jpg')">                                    
                                </a>
                                <a href="assets/img/blog/post3.jpg" class="single-photo-item bg-cover popup-gallery" style="background-image: url('assets/img/blog/post3.jpg')">                                    
                                </a>
                            </div>
                        </div>
                        <div class="single-sidebar-widget">
                            <div class="wid-title">
                                <h3>Popular Tags</h3>
                            </div>
                            <div class="tagcloud">
                                <a href="#">event</a>     
                                <a href="#">help</a>
                                <a href="#">ux</a>
                                <a href="#">food</a>                                
                                <a href="#">ui</a>
                                <a href="#">water</a>
                                <a href="#">charity</a>
                                <a href="#">donate</a>
                            </div>
                        </div>
                        <div class="sidebar-ad-widget">
                            <div class="ad-wraper">
                                <a href="#" target="_blank">
                                    <img src="assets/img/blog/blog-ad.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
  </div>
</section>
