<footer class="footer-1 footer-wrap">
    <div class="footer-widgets section-bg pt-60 pb-60">            
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xl-4 col-12">                        
                    <div class="single-footer-wid site-info-widget">
                        <div class="wid-title">
                            <h4>Get In Touch</h4>
                        </div>
                        <div class="contact-us">
                            <div class="single-contact-info">
                                <div class="icon">
                                    <i class="fal fa-phone"></i>
                                </div>
                                <div class="contact-info">
                                    <span>+91 8523000111</span>
                                    <span>+91 8086660088</span>
                                </div>
                            </div>
                            <div class="single-contact-info">
                                <div class="icon">
                                    <i class="fal fa-envelope"></i>
                                </div>
                                <div class="contact-info">
                                    <span>iwaindiafoundation&#64;gmail.com</span>
                                    <span>jobs&#64;example.com</span>
                                </div>
                            </div>
                            <div class="single-contact-info">
                                <div class="icon">
                                    <i class="fal fa-map-marker-alt"></i>
                                </div>
                                <div class="contact-info">
                                    <span>IWA INDIA FOUNDATION <br/> CIN: U80902KL2021NPL073025,<br/> IWA Coaching Centre, Chinnakada, Kollam,<br/> Kerala, India-691001</span>
                                </div>
                            </div>
                        </div>

                        <div class="social-link">
                            <a href="https://www.facebook.com/iwaindiafoundation"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.instagram.com/iwaindiafoundation/"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.youtube.com/@iwaindiafoundation_"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div> <!-- /.col-lg-3 - single-footer-wid -->
                <div class="col-md-6 col-xl-4 offset-xl-1 col-12">
                    <div class="single-footer-wid">
                        <div class="wid-title">
                            <h4>About Us</h4>
                        </div>
                        <div class="special-menu">
                            <ul>
                                <li><a routerLink="/about">about</a></li>
                                <li><a href="faq.html">faq</a></li>
                                <li><a href="events.html">events</a></li>
                                <li><a href="event-details.html">event details</a></li>
                                <li><a href="team.html">Team</a></li>                                  
                                <li><a routerLink="/contact">Contact Us</a></li>                                    
                            </ul>
                        </div>
                        <div class="special-menu">
                            <ul>
                                <li><a href="causes.html">Causes List</a></li>
                                <li><a href="donation.html">donation</a></li>
                                <li><a href="team.html">Careers</a></li>
                                <li><a href="contact.html">Get A Quote</a></li>
                                <li><a href="faq.html">Terms & Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- /.col-lg-3 - single-footer-wid -->
                <div class="col-md-6 col-xl-3 col-12">
                    <div class="single-footer-wid">
                        <div class="wid-title">
                            <h4>Popular Causes</h4>
                        </div>
                        <ul>
                            <li><a href="causes.html">Water Purify</a></li>
                            <li><a href="causes.html">Food Collect</a></li>
                            <li><a href="causes.html">Health Fund</a></li>
                            <li><a href="causes.html">Free Education</a></li>
                            <li><a href="causes.html">Poor Health</a></li>
                            <li><a href="causes.html">Live Donation</a></li>                              
                        </ul>
                    </div>
                </div> <!-- /.col-lg-3 - single-footer-wid -->

            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12 text-center">
                    <div class="copyright-info">
                        <p>&copy; <a href="index.html">Tayba TechHub</a> Indian Welfare Association - 2025. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
