
<header class="header-wrap header-box-style header-1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 p-0 d-lg-none d-block d-none-mobile">
                <div class="top-bar text-right">
                    <a href="mailto:iwaindiafoundation@gmail.com"><i class="fas fa-envelope"></i>iwaindiafoundation&#64;gmail.com</a>
                    <a href="tel:+91 8523000111"><i class="fal fa-phone"></i>+91 8523000111</a>
                    <a routerLink="/donation" class="d-btn">Donate Now</a>
                    <!-- <a href="donation.html" class="d-btn">Donate Now</a> -->
                </div>
            </div>
            <div class="col-xl-3 col-6 col-lg-3 pr-0">
                <div class="logo">
                    <a href="index.html"><img src= "assets/img/IWA-logo2.png" alt="FundBux"></a>
                
                </div>
            </div>
            <div class="col-xl-9 pl-lg-0 col-lg-9 d-none d-lg-block">
                <div class="box-wrap">
                    <div class="top-bar text-right">
                        <a href="mailto:iwaindiafoundation@gmail.com"><i class="fal fa-envelope"></i>iwaindiafoundation&#64;gmail.com</a>
                        <a href="tel:+91 8523000111"><i class="fal fa-phone"></i>+91 8523000111</a>
                        <a routerLink="/donation" class="d-btn">Donate Now</a>
                    </div>
                    <div class="menu-wrap d-flex align-items-center justify-content-around">
                        <div class="main-menu">
                            <ul>
                                <li><a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
                                <li><a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">About Us</a></li>
                                <li><a routerLink="/programs" routerLinkActive="active">Programs</a>
                                    <ul class="sub-menu">
                                        <li><a routerLink="programs/programs-list">Projects List</a></li>
                                        <li><a routerLink="programs/donation">donation</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a routerLink="pages" routerLinkActive="active">Pages</a>
                                    <ul class="sub-menu">           
                                         <li><a routerLink="pages/volunteer">Volunteer Registration</a></li>
                                        <li><a routerLink="pages/events">Events</a></li>
                                         <li><a routerLink="pages/teams">teams</a></li>
                                        <li><a routerLink="pages/faq">faq</a></li>
                                    </ul>
                                </li>
                                <li><a routerLink="/news" routerLinkActive="active">News</a></li>
                                <li><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
                                <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
                            </ul>
                        </div>
                        <div class="social-link">
                            <a href="https://www.facebook.com/iwaindiafoundation"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="https://www.youtube.com/@iwaindiafoundation_"><i class="fab fa-youtube"></i></a>
                            <a href="https://www.instagram.com/iwaindiafoundation/"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>                        
                </div>                    
            </div>                
            <div class="col-6 d-lg-none d-block pl-0">
                <div class="mobile-nav-wrap">                    
                    <div id="hamburger">
                        <i class="fal fa-bars"></i>
                    </div>
                    <!-- mobile menu - responsive menu  -->
                    <div class="mobile-nav">
                        <button type="button" class="close-nav">
                            <i class="fal fa-times-circle"></i>
                        </button>
                        <nav class="sidebar-nav">
                            <ul class="metismenu" id="mobile-menu">
                                <li><a class="has-arrow"  routerLink="/homes">Homes</a>
                                </li>
                                <li><a routerLink="/about">about</a></li>

                                <li>
                                    <li><a routerLink="/projects">Projects</a>
                                    <ul class="sub-menu">
                                        <li><a routerLink="projects/programs">Projects List</a></li>
                                        <li><a routerLink="projects/programs-detail">Projects details</a></li>
                                        <li><a routerLink="projects/donation" class="d-btn">donation</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a routerLink="/volunteer">Pages</a>
                                    <ul class="sub-menu">
                                        <li><a routerLink="/volunteer">Volunteer Registration</a></li>
                                        <li><a routerLink="/events">Events</a></li>
                                        <!-- <li><a routerLink="/event-details">event details</a></li> -->
                                        <li><a routerLink="/teams">teams</a></li>
                                       <li><a routerLink="pages/faq">faq</a></li>
                                    </ul>
                                </li>                         
                                <li><a routerLink="/news">News</a></li>
                                <li><a routerLink="/blog">Blog</a></li>
                                <li><a routerLink="/contact">Contact</a></li>
                            </ul>
                        </nav>

                        <div class="action-bar">
                            <a href="iwaindiafoundation@gmail.com"><i class="fal fa-envelope"></i>iwaindiafoundation&#64;gmail.com</a>
                            <a href="tel:+91 8523000111"><i class="fal fa-phone"></i>+91 8523000111</a>
                            
                            <a routerLink="/donation" class="d-btn theme-btn">Donate Now</a>
                        </div>
                    </div>                            
                </div>
                <div class="overlay"></div>
            </div>
        </div>
    </div>
</header>  